hiappdirs==1.4.4
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
coinmetrics-api-client==2023.7.11.17
frozendict==2.3.8
html5lib==1.1
idna==3.4
inflection==0.5.1
lxml==4.9.3
more-itertools==9.1.0
multitasking==0.0.11
numpy==1.25.1
orjson==3.9.2
pandas==2.0.3
python-dateutil==2.8.2
pytrends==4.9.2
pytz==2023.3
Quandl==3.7.0
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
typer==0.7.0
tzdata==2023.3
urllib3==2.0.4
webencodings==0.5.1
websocket-client==1.6.1
yfinance==0.2.26
